%include header.html get_url = get_url

<h1>About</h1>

<p>JudoCal.com is a site intended for Judo trainers across Europe to find
tournaments, training camps and other Judo-related events in their
neighbouring countries and sourroundings.  Every good athlete knows that
a key ingredient to success is to compete, often and against new and
stronger opponents.  JudoCal.com aims to provide the platform where those
seeking that experience can be brought together.</p>

%include footer.html get_url = get_url
