<!doctype html>
<html>
  <head>
    <title>Judo Tube</title>
    <link type="text/css" href="{{ get_url('static', path='css/bootstrap.min.css') }}" rel="stylesheet">
  </head>
  <body>
   <h1>Event</h1>
         <tr>
           <td>{{event[0].continent}}</td>
           <td>{{event[0].country}}</td>
           <td>{{event[0].name}}</a></td>
           <td>{{event[0].start_date}}</td>
           <td>{{event[0].min_age}} - {{event[0].max_age}}
         </tr>
       </table>
    </div>
    <script type"text/javascript" src="{{ get_url('static', path='js/jquery-1.11.0.min.js') }}"></script>
    <script src="{{ get_url('static', path='js/bootstrap.min.js') }}"></script>
  </body>
</html>