<!doctype html>
<html>
  <head>
    <title>Judo Tube</title>
    <link type="text/css" href="{{ get_url('static', path='css/bootstrap.min.css') }}" rel="stylesheet">
  </head>
  <body>
    <div class="container">
   <h1>{{event[0].name}}</h1>
        <table class="table">
         <tr>
           <td><label> Continent : </label> {{event[0].continent}}</td>
           <td><label> Country : </label>{{event[0].country}}</td>
           <td><label> Start Date : </label>{{event[0].start_date}}</td>
           <td><label> End Date : </label>{{event[0].end_date}}</td>
         </tr>
         <tr>
          <td><label> Type : </label> {{event[0].event_type}}</td>
          <td><label> Age Group : </label> {{event[0].min_age}} - {{event[0].max_age}}</td>
          <td><label> Contact Info : </label> To be implemented</td>
          </tr>
       </table>
    </div>
    <script type"text/javascript" src="{{ get_url('static', path='js/jquery-1.11.0.min.js') }}"></script>
    <script src="{{ get_url('static', path='js/bootstrap.min.js') }}"></script>
  </body>
</html>