<!doctype html>
<html>
  <head>
    <title>Judo Tube</title>
    <link type="text/css" href="{{ get_url('static', path='css/jquery-ui-1.10.4.custom.min.css') }}" rel="stylesheet">
    <link type="text/css" href="{{ get_url('static', path='css/bootstrap.min.css') }}" rel="stylesheet">
    <link type="text/css" href="{{ get_url('static', path='css/m.css') }}" rel="stylesheet">
    <script src="{{ get_url('static', path='js/jquery-1.11.0.min.js') }}"></script>
    <script src="{{ get_url('static', path='js/jquery-ui-1.10.4.custom.min.js') }}"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDrEmczxYQXjUVYsgxCkZY0nydwHB2xlaA&sensor=false"></script>
  </head>
  <body>
    <div class="container">
      <div class="nav">
        <h1 class="logo">JudoCal.com</h1>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </div>
