%include header.html

  <div class="search">
    <h1>Search tournaments</h1>
    <form class="search" action="/events" methon="post">

    <div class="sel_input">
     	<select id="continents" name="continents">
        <option>Any</option>
        %for id, c in enumerate(continents):
          <option value="{{id}}">{{c}}</option>
        %end
     	</select>
    </div>

    <div class="sel_input">
      <label for="countries"></label>
     	<select id="countries" name="countries">
        <option>Any</option>
     		%for c in countries:
          <option data-continent="{{c.continent}}">{{c.name}}</option>
        %end
     	</select>
    </div>

    <!--div class="txt_input">
      <label for="date">Date</label>
      <input type="text" name="date" id="searchdate">
    </div-->


Veterans  (born 1984 and before)
Senior    (born 1999 and before)
U23   (born 1992-1999)
U21   (born 1994-1999)
Junior    (born 1994 - 1999)15 to 20 year old
Cadet   (born 1997. 1998 & 1999)15, 16 & 17 years old

    <div class="sel_input">
      <select id ="age" name="age">
        <option value="">Select your age</option>
        <option value="{{year-30}}">Veterans ({{year-30}} and before)</option>
        <option value="{{year-15}}">Senior ({{year-15}} and before)</option>
      </select>
    </div>

<!--     <div class="sel_input">
      <select id ="min_age" name="min_age">
        <option value="">Min age</option>
        %years = range(year - 70, year - 9)
        %for i in reversed(years):
          <option value="{{year-i}}">{{i}} - ({{year-i}})</option>
        %end
      </select>
    </div>

    <div class="sel_input">
     	<select id ="max_age" name="max_age">
        <option value="">Max age</option>
        %for i in years:
          <option value="{{year-i}}">{{i}} - ({{year-i}})</option>
        %end
     	</select>
    </div> -->

    <button type="submit">Search</button>
    </form>
  </div>


  <div class="tournaments">
    <h2>Upcoming Events</h2>

    <table class="table table-hover">

     <thead>
       <tr>
         <th>Continent</th>
         <th>Country</th>
         <th>Name</th>
         <th>Date</th>
         <th>Age group</th>
       </tr>
     </thead>

    %for event in events:
       <tr>
         <td>{{event.continent}}</td>
         <td>{{event.country}}</td>
         <td><a href="/events/{{event.id}}">{{event.name}}</a></td>
         <td>{{event.start_date}}</td>
         <td>{{event.min_age}} - {{event.max_age}}
       </tr>
    %end
    </table>
  </div>


%include footer.html