<!doctype html>
<html>
  <head>
    <title>Judo Tube</title>
    <link href="bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
   <h1>Tournaments</h1>
   <div class="selector">
   	<select id="continents">
      <option>Any</option>
   		<option>Europe</option>
      <option>N-America</option>
      <option>S-America</option>
      <option>Africa</option>
      <option>Asia</option>
      <option>Australia</option>
   	</select>
   	<select id="countries">
      <option>Any</option>
   		%for i in countries:
        <option> {{i.name}}</option>
      %end
   	</select>
   	<select id ="date">
   	</select>
   	<select id ="agroup">
   	</select>
   </div>
   <form action="/events" >
   <input type="submit" id="button" value="search" >
  </form>
  </body>
</html>
