%include header.html get_url = get_url

%if errors:
  <h1>Errors!</h1>
  %for field, error in errors.items():
    <h2>{{field}}</h2>
    <p>{{error}}</p>
  %end
%end

  <div class="container">
   <h1>Register New Event</h1>
   <form class="formstd" action="/new" method="POST" enctype="multipart/form-data">

    <div class="txt_input">
      <label for="name">Name</label>
      <input type="text" size="20" maxlength="100" name="name">
    </div>

    <div class="txt_input">
      <label for="organization_name"> Organization</label>
      <input type="text" size="20" maxlength="100" name="organization_name">
    </div>

    <div class="sel_input">
      <label for="event_type"> Event Type</label>
      <select name="event_type">
        %for e in eventtypes:
          <option>{{e}}</option>
        %end
      </select>
      </div>

    <div class="sel_input">
      <label for="continent">Continent</label>
      <select  name="continent">
        %for c in continents:
          <option value="{{c}}">{{c}}</option>
        %end
      <select>
    </div>

<!--     <div class="sel_input">
      <label for"country"> Country</label>
      <select name="country">
        %for country in countries:
          <option value="{{country.id}}">{{country.name}}</option>
        %end
      </select>
    </div> -->


    <div class="txt_input">
      <label for="country">Country:</label>
      <input id="country" type="text" name="country" value="" />

      <ul class="countries">
        %for country in countries:
          <li value="{{country.id}}">{{country.name}}</li>
        %end
      </ul>
    </div>

    <div class="txt_input">
      <label for"city">City</label>
      <input type="text" size="20" maxlength="100" name="city">
    </div>

    <div class="txt_input">
      <label for="address">Address:</label>
      <input id="address" type="text" name="address" value="" />
    </div>

    <div class="txt_input">
      <label for="webpage">Webpage:</label>
      <input id="webpage" type="text" name="webpage" value="" />
    </div>

    <div class="txt_input">
      <label for"min_age">Minimum year of birth</label>
      <input type="number" size="20" maxlength="100" name="min_age" placeholder="e.g. 1980">
    </div>

    <div class="txt_input">
      <label for"max_age"> Maximum year of birth</label>
      <input type="number" size="20" maxlength="100" name="max_age" placeholder="e.g. 2000">
    </div>

    <div class="sel_input">
      <label for"country">Gender</label>
      <select name="gender">
        %for g in genders:
          <option value="{{g}}">{{g}}</option>
        %end
      </select>
    </div>

    <div class="txta_input">
      <label for"description"> Description</label>
      <textarea name="description"></textarea>
    </div>

    <div class="file_input">
      <label for="attachment">Attachment</label>
      <input id="attachment" type="file" name="attachment_0" value="" />
    </div>

    <div class="txt_input">
      <label for="start_date">Start Date</label>
      <input type="text" name="start_date" id="start_date">
    </div>

    <div class="txt_input">
      <label for="end_date"> End Date</label>
      <input type="text" name="end_date" id="end_date">
    </div>

    <input type="submit" name="save" value="save">
  </form>
  </div>


%include footer.html get_url = get_url