<!doctype html>
<html>
  <head>
    <title>New Event</title>
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
  </head>
 <body>
%if errors:
  <h1>Errors!</h1>
  %for field, error in errors.items():
    <h2>{{field}}</h2>
    <p>{{error}}</p>
  %end
%end
   <h1>Register New Event</h1>
   <form action="/new" method="POST">
    <label for="name"> Name:
     <input type="text" size="20" maxlength="100" name="name">
    <label for="organization_name"> Organization:
      <input type="text" size="20" maxlength="100" name="organization_name">
    <label for="event_type"> Event Type:
      <select name="event_type">
        <!-- TODO: GENERATE THESE VALUES DYNAMICALLY! -->
        <option value="Tournament">Tournament</option>
        <option value="Training Camp">Training Camp</option>
        <option value="Misc">Misc</option>
      </select>
    <label for="continent"> Continent:
      <select  name="continent">
        %for c in continents:
          <option value="{{c}}">{{c}}</option>
        %end
      <select>
    <label for"country"> Country:
      <select name="country">
        %for country in countries:
          <option value="{{country.id}}">{{country.name}}</option>
        %end
      </select>
    <label for"city"> City
      <input type="text" size="20" maxlength="100" name="city">
    <label for"min_age"> Minimum Age:
      <input type="number" size="20" maxlength="100" name="min_age">
    <label for"max_age"> Maximum Age:
      <input type="number" size="20" maxlength="100" name="max_age">
    <label for"gender"> Kyn:
      <input type="text" size="20" maxlength="100" name="gender">
    <label for"description"> Description:
      <input type="text" size="20" maxlength="100" name="description">
    <label for"attachment"> Attachment(placeholder)
      <input type="text" size="20" maxlength="100" name="attachment">
    <label for="start_date"> Start Date:
      <input type="date" name="start_date">
    <label for="end_date"> End Date:
      <input type="date" name="end_date">
    <input type="submit" name="save" value="save">
  </form>
  <script src="static/js/jquery-1.11.0.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
</body>
</html>
