/*** container ***/
.container {
    max-width: 1170px;
    margin: 0 auto;
}


/*** forms ***/
.formstd {
    .txt_input,
    .txta_input,
    .file_input,
    .sel_input {
        margin: 0 0 20px;

        label {
            width: 10em;
        }
    }

    .file_input,
    .txta_input,
    .txt_input {
        textarea,
        input {
            width: 30%;
            display: inline-block;
        }
    }

    .sel_input {
        select {
            width: 30%;
            padding: 10px;
        }
    }
}

.search {
    margin-bottom: 30px;

    .txt_input,
    .sel_input {
        float: left;
        margin-right: 10px;

        select {
            min-width: 100px;
            min-height: 30px;
        }

        input {
            line-height: 1.2;
        }
    }

    .hideopts {
        display: none;
    }

    // .sel_input {
    //     overflow: hidden;
    //     background: #ddd;
    //     border: 1px solid #ccc;

    //     select {
    //         background: transparent;
    //         padding: 5px;
    //         font-size: 16px;

    //         border: 0;
    //         border-radius: 0;
    //         height: 34px;
    //         -webkit-appearance: none;
    //     }
    // }

    // button {
    //     border-radius: 4px;
    //     background-color: #428bca;
    //     color: #fff;
    //     padding: 5px 10px;
    //     border: 1px solid #317CBD;
    // }
}
h1, h2 {
    margin-bottom: 20px;
}
div.search {
    margin-bottom: 40px;
    border-bottom: 1px solid #eee;
}

.tournaments {
    min-height: 400px;
}

h1.logo {
    clear: none;
    float: left;
}


/*** new ***/
ul.countries {
    display: none;
}


/*** event ***/
.edesc {
    clear: both;
}

#map-canvas {
    height: 250px;
    max-width: 750px;
    min-width: 450px;
    float: right;
    margin: 0 0 20px 20px;
}

.nav {
    margin: 20px 0 0 0;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    font-size: unit( 18/14, em);

    ul {
        list-style: none;
        padding: 20px 0;
        text-align: center;
        margin: 0;

    }
    li {
        display: inline-block;
        margin-right: -.3em;
        a {
            padding: 1em;
        }
    }
}

.footer {
    margin-top: 40px;
    padding-top: 20px;
    border-top: 1px solid #eee;
}
